table{
    margin-left: 10px;
    margin-top: 25px;
}
td{
    width: 200px;
}
table.addTable td{
    width: 60px;
}
table.addTable {
    background-color: darkgray;
    float: right;
    margin-right: 25px;
    
}