
<app-navbar (naarBoven)="leesIn($event)"></app-navbar>
<meetings [hidden]= "meetingsHidden"></meetings>
<members [hidden]="membersHidden" ></members>
<topics [hidden] ="topicsHidden"></topics>
<div [hidden] = "divHidden" style="margin-top: 25px;">
Meetrix, de pagina voor al uw vergaderingen samen te vatten.
</div>
<hr>
<menu (active)="activate($event)"></menu>
<div id="welcome" *ngIf="active == 'welcome'">welcome!</div><br>
<div id="members" *ngIf="active == 'members'">member list:</div>
<div id="meetings" *ngIf="active == 'meetings'">meeting list:</div>


<hr>
<app-web></app-web>
