
<div class="footer">
    <table>
        <tr>
            <td>
                <div id="title">Meetrix</div>
                <div class="subscript">
                    we make an online meetings easier
                </div>
            </td>
            <td>
                <div class="head">Contact</div>
                <div class="subscript">
                    mailto
                </div>
            </td>
            <td><a href="test.html">About us</a>
            </td>
            
        </tr>
        <div id="bottom">
            
        </div>
    </table>
</div>