<ul>
  <li class="title" (click)=openStart()>Meetrix</li>
  <li class="bigLinks"><a [class.active]="membersHidden" id="members" (click)=openMembers()>Members</a></li>
  <li class="bigLinks"><a [class.active]="topicsHidden" id="topics" (click)=openTopics()>Topics</a></li>
  <li class="bigLinks"><a [class.active]="meetingsHidden" id="meetings" (click)=openMeetings()>Vergaderingen</a></li>
  <li id="myLinks"><button id="btnShowMore" (click)=openLinks()>=</button> </li>
</ul>
<div id="links" [hidden]="myLinksVisuability">
  <a [class.active]="membersHidden" id="members" (click)=openMembers()>Members</a><br>
  <a [class.active]="topicsHidden" id="topics" (click)=openTopics()>Topics</a><br>
  <a [class.active]="meetingsHidden" id="meetings" (click)=openMeetings()>Vergaderingen</a>
</div>

<div id="page">
  {{page}}
  <hr>
</div>