
<div class="footer">
    <table>
        <tr>
            <td>
                <div id="title">MEETRIX</div>
                <div class="subscript">
                    we make online meetings easier
                </div>
            </td>
            <td>
                <div class="head">Contact</div>
                <div class="subscript">
                    <a href="mailto:info@essadji.com">

                        mailto
                    </a>
                </div>
            </td>
           
            
        </tr>
        <div id="bottom">
            
        </div>
    </table>
</div>